* {
    margin: 0
}

body {
    font-family: sans-serif;
}

header {
    text-align: center;
}


main {
    box-sizing: border-box;
    margin: 0 1rem;
}

    main img {
        height: auto;
        margin: 1rem auto;
        display: block;
        max-width: 100%;
    }

h1, h2 {
    font-weight: normal;
    margin-top: .5rem;
}

p {
    margin: .5rem 0
}

.code {
    font-family: monospace;
    font-size: .75rem;
    background-color: rgb(230, 230, 230);
    padding: .25rem;
    border-radius: .25rem;
}

ul {
}
 


li {
    margin: .5rem 0;
}

.examples {
    display: block;
    margin: 1rem auto;
    display: block;
    max-width: 100%;
    text-align:center;
}

.examples img{
    display: inline-block;
}
